<h1>Register:</h1>
<div class="register">
<form class="" action="/register" method="post">
  <label for="username">Username</label><br>
  <input type="text" name="username" value=""><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" value=""><br>
  <button type="submit" name="">Register</button>
</form>
<h1>Or Login:</h1>
</div>
<div class="login">
  <form class="" action="/login" method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username" value=""><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" value=""><br>
    <button type="submit" name="">Login</button>
  </form>
</div>
