<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      {{#user}}
      <a href="/">Home</a>
      <form class="" action="/logout" method="post">
        <input type="submit" name="" value="Logout">
      </form>
      {{/user}}

    </header>

    {{{yield}}}



  </body>
</html>
